h1 {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

ol {
    font-family: Verdana, sans-serif;
}

p {
    font-family: Verdana, sans-serif;
}

a {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
}
a:link {
    color: rgb(4, 59, 160);
}
a:visited {
    color: #0b2cec;
}
a:hover {
    color: #e03a3e;
}
a:focus {
    color: #e03a3e;
}
a:active {
    color: #e03a3e;
}
